/* Navbar */
.navbar-brand {
    font-family: Poppins;
    padding-top: 80;
    font-family: Poppins;
    font-size: 16;

}

/* header */
.putih {
    font-family: Poppins;
    color: white;
}

.header h1 {
    font-weight: bold;
}
 
.header p{
    font-weight: medium;
    color: #c1dcff;
    font-size: 20px;

   
}

/* info apps */
.apps {
    background-color: rgb(243, 243, 243);
    
}

.panel-apps p {
   
        font-family: Poppins;
        font-weight: medium;
        color: rgb(114, 114, 114);

    
}

/* skills */
.skill-section {
margin-top: 160px;
margin-bottom: 160px;
}

.skills h1 {
font-family: Poppins;
font-style: normal;
font-weight: bold;
color: #697EE9;
}

.skills p {
    font-weight: medium;
    color: #B9B9B9;
    margin-top: 20px;
    font-size: 20px;

}

.kolom-skills {
    background-color:rgb(243, 243, 243);
    border-radius: 10px;
}
.baris {
    background-color: #0564e9;
    border-radius: 5px;
    font-weight: medium;
    color: #B9B9B9;
    margin-top: 20px;
    font-size: 20px;
}

.baris2 {
    background-color: #e905c3;
    border-radius: 5px;
    font-weight: medium;
    color: #B9B9B9;
    margin-top: 20px;
    font-size: 20px;
}

.baris3 {
    background-color: #e96005;
    border-radius: 10px;
    font-weight: medium;
    color: #B9B9B9;
    margin-top: 20px;
    font-size: 20px;
}

/* utility */


.latar {
    background-color: #0B63dc;
}

.latar2 {
    background-color:#2376EB;
}

.btn-putih {
    border-radius: 10px;
    font-family: Poppins;
    margin-bottom: 20px;
    color: #2376EB;
    font-style: bold;
    background-color: white;
    padding: 15px 40px 15px 40px;
    font-size: 16px;font-weight: bold ;
    
}



.btn-putih:hover {
    font-family: Poppins;
    margin-bottom: 20px;
    color: #0564e9;
    font-style: bold;
    background-color: rgb(219, 229, 255);
    padding: 15px 40px 15px 40px;
    font-size: 16px;font-weight: bold;
}

.btn-biru {
    border-radius: 10px;
    font-family: Poppins;
    margin-bottom: 20px;
    color: #ffffff;
    font-style: bold;
    background-color: #2376EB ;
    padding: 15px 40px 15px 40px;
    font-size: 16px;font-weight: bold ;
    
}

.btn-biru:hover{
    border-radius: 10px;
    font-family: Poppins;
    margin-bottom: 20px;
    color: #ffffff;
    font-style: bold;
    background-color: #166adf ;
    padding: 15px 40px 15px 40px;
    font-size: 16px;font-weight: bold ;
    
}

.foto {
    height: 20 px;
}

/* Desktop Version */
@media (min-width: 992px) {
    .nav-link {
        font-family: Poppins;
        font-size:15px;
        text-transform: uppercase;
        font-family: Poppins;
        margin-right:25px;
    }

    .nav-link:hover::after {
        font-family: Poppins;
        content: '';
        display: block;
        border-bottom: 3px solid #ffffff;
        width: 20px;
        margin: auto;
        padding-bottom: 3px;
        margin-bottom: -10px ;

    }



}

